html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
}

.buttonalarm {
    background-color: red;
}

.buttonmemory {
    background-color: yellowgreen;
}